.contentFeature {
  width: 100%;
  position: relative;
  gap: 5%;
  margin-bottom: 150px;
}

.titleFeatureJobIndex {
  font-style: normal;
  font-weight: 400;
  font-size: 250px;
  line-height: 1;
  color: #363233;
}

.contentTextFeature {
  max-width: 40%;
  position: relative;
  margin-bottom: -50px;
}

.featureBlock:last-of-type .contentFeature{
  margin-bottom: 100px;
}

.titleFeatureJob {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  color: #363233;
}

/* .featuresJob {
  margin-top: 10vh;
  font-weight: 400;
  font-size: 30px;
  line-height: 26px;
  letter-spacing: 0.06em;
  color: #363233;
  margin-left: 3vw;
} */

.growWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.line {
  width: 5px;
  height: 150px;
  position: relative;
  background-color: #faa300;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #faa300;
  border-radius: 50%;
  position: absolute;
  top: calc(100% - 10px);
  left: 50%;
  margin-left: -10px;
}

.growText {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.12em;
  color: #363233;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 35px 50px 25px;
  cursor: pointer;
}

@media (width <= 1500px){
  .titleFeatureJobIndex {
    font-size: 200px;
  }

  .titleFeatureJob{
    font-size: 60px;
  }

  .contentFeature{
    margin-bottom: 100px;
  }
}


@media only screen and (max-width: 768px) {
  .contentFeature {
    flex-direction: column;
    /* margin-bottom: 25vh; */
    text-align: left;
    align-items: flex-start;
  }
  .featureBlock:nth-child(odd) .contentFeature {
    text-align: right;
    align-items: flex-end;
  }

  .contentTextFeature {
    max-width: 80%;
  }

  .titleFeatureJobIndex {
    font-size: 180px;
  }

  

  /* .titleFeatureJobIndex {
    font-size: 40vw;
  }

  .titleFeatureJob {
    font-size: 12vw;
  } */

  .growText{
    margin-bottom: 0;
    white-space: normal;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .contentTextFeature {
    max-width: 100%;
  }

  .titleFeatureJobIndex {
    font-size: 150px;
  }

  .titleFeatureJob{
    font-size: 50px;
  }

  /* .featuresJob {
    font-size: 23px;
    margin-top: 5vh;
  }

  .growText {
    margin-bottom: 5vh;
    font-size: 20px;
  } */
}
