.heroSection {
  width: 100%;
  height: 100vh;
  position: relative;
}

.posterHero {
  margin-bottom: 30vh;
  padding-top: 115px;
}

.heroContainer {
  height: 100%;
  padding-bottom: 7vh;
}

.posterHero .heroContainer {
  height: 130vh;
  width: 80%;
  position: relative;
}

.titleHero {
  font-size: clamp(40px, 13vw, 200px);
  position: relative;
  text-align: center;
}

.titleHero span {
  display: block !important;
  text-align: left;
  font-size: 3vw;
  margin-bottom: -2vw;
  color: #fff;
}

.lineHero {
  position: absolute !important;
  top: calc(93%);
  height: 40vh;
  width: 5px;
}

.posterHero .lineHero {
  top: 85%;
}

.ballLine {
  position: absolute;
  top: calc(100% - 10px);
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.weAreText {
  display: block;
  text-align: left;
  font-size: 3vw;
  margin-bottom: -2vw;
  color: #fff;
}

.infoClientContainer {
  margin-left: auto;
  text-align: right;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 34px;
  text-align: right;
  color: #363233;
  margin-top: 5vh;
}

.infoClientContainer span {
  font-weight: normal;
}


@media only screen and (max-width: 1300px){
  .titleHero{
    font-size: clamp(40px, 11vw, 150px);
  }
}
@media only screen and (max-width: 768px){
  .titleHero{
    font-size: clamp(40px, 20vw, 150px);
  }

  .titleHero span{
    font-size: 5vw;
  }

  .posterHero{
    padding-top: 0;
    margin-bottom: -5vh;
  }
  .posterHero .heroContainer {
    height: 100vh;
    width: 100%;
  }
}