@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aleo';
  src: url('../styles/fonts/Aleo-Regular.ttf');
}
@font-face {
  font-family: 'AleoBold';
  src: url('../styles/fonts/Aleo-Bold.ttf');
}
@font-face {
  font-family: 'NewsCycke';
  src: url('../styles/fonts/NewsCycle-Bold.ttf');
}
@font-face {
  font-family: 'NewsCycle';
  src: url('../styles/fonts/NewsCycle-Regular.ttf');
}

/* regular */
.proxima {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* bold */
.proximaBold {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.aleoBold,
strong,
b {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 700;
}

.newsR {
  font-family: 'proxima-nova', sans-serif;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
input::placeholder,
textarea::placeholder {
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #363233;
  font-size: 22px;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #f2f0eb;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Utilities */

.bg-ct {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-cv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-complete {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.flex {
  display: flex;
}

.j-s {
  justify-content: flex-start;
}
.j-c {
  justify-content: center;
}
.j-e {
  justify-content: flex-end;
}
.j-b {
  justify-content: space-between;
}

.a-s {
  align-items: flex-start;
}
.a-c {
  align-items: center;
}
.a-e {
  align-items: flex-end;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.wrapperImg {
  position: relative;
}

.wrapperImg img {
  object-fit: cover;
  object-position: center center;
}

.siteSection {
  position: relative;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1600px;
}

.overflow-hidden {
  overflow: hidden;
}

.newsCycle {
  font-family: serif;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.slick-arrow,
.slick-dots {
  display: none;
  font-size: 0px;
  opacity: 0;
  visibility: 0;
  position: relative;
  z-index: -100000;
}

.slick-arrow {
  position: absolute;
  top: 60%;
  left: 3%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  font-size: 0px;
  background-color: transparent;
  border: none;
  opacity: 1;
  visibility: visible;
  background-image: url(/icons/back.png);
  transition: all 0.3s ease-in-out;
}

.onlyImageSection .slick-arrow {
  top: 50%;
}

.slick-next {
  background-image: url(/icons/next.png);
  left: initial;
  right: 3%;
}

.slick-arrow.slick-disabled {
  opacity: 0;
}

.slick-track {
  display: flex;
}

.slick-track > div {
  margin: 0 20px;
}

.onlyImageSection .slick-track > div {
  margin: 0 0px;
}

.imgAnimation {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  transition: all 0.7s ease-in-out;
}

.imgAnimation.active {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.word {
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .slick-arrow {
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }

  .withTextSlider {
    top: 70%;
  }
}
