.legalContent {
  padding: 10vh 0;
  font-size: 25px;
  line-height: 1.1;
  color: #363233;
}

.legalContent p {
  margin-bottom: 15px;
}
.legalContent ul {
  margin-bottom: 15px;
}
.legalContent li {
  margin-bottom: 10px;
  list-style-type: disc;
}
.legalContent strong {
  font-weight: bold;
}
