.popUpMember {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgPopUpMember {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #363233a7;
}

.wrapperPopUpMember {
  width: 90%;
  height: 80%;
  position: relative;
}

.wrapperImgMember {
  width: 50%;
  height: 100%;
  position: relative;
}

.imgMember {
  object-fit: cover;
  object-position: center top;
}

.infoMember {
  width: 50%;
  height: 100%;
  padding: 5%;
  overflow-y: auto;
}

.closePopUp {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(/icons/close-white.png);
  z-index: 1;
}

.nameMember {
  font-size: 85px;
  line-height: 71px;
  color: #f2f0eb;
  margin-bottom: 10px;
}

.professionMember {
  font-size: 30px;
  line-height: 34px;
  color: #363233;
}

.descriptionMember {
  margin-top: 10%;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: #f2f0eb;
}

@media only screen and (max-width: 1300px) {
  .nameMember {
    font-size: 70px;
    line-height: 1;
  }
  .professionMember {
    font-size: 28px;
    line-height: 1;
  }

  .descriptionMember {
    margin-top: 7%;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 1024px) {
  .nameMember {
    font-size: 60px;
  }
  .professionMember {
    font-size: 26px;
  }

  .descriptionMember {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .wrapperPopUpMember {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .wrapperImgMember {
    width: 100%;
    height: 50%;
  }

  .infoMember {
    width: 100%;
    height: 50%;
  }
}
@media only screen and (max-width: 520px) {
  .closePopUp {
    width: 35px;
    height: 35px;
  }
}
