.aboutContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 4vh;
  margin-bottom: 8vh;
}

.contentContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.contentContainerLeft {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}

.titleSection {
  font-weight: 700;
  font-size: clamp(50px, 13vw, 200px);
  line-height: 1;
  color: #363233;
  text-align: center;
  margin-bottom: 5vh;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10vh 0;
  min-height: 20vh;
}

.imgPanel {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30%;
  height: 45vh;
}

.imgPanelLeft {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45%;
  height: 30vh;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 3.5vh 5vw;
  width: 60%;
}

.textContainerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  padding: 0 5vw 0 0;
  width: 55%;
}

.textContainer h3,
.textContainerLeft h3 {
  font-size: 30px;
  color: #363233;
  font-weight: 700;
  line-height: 1.4;
}

.textContainer p,
.textContainerLeft p {
  color: #363233;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.4;
  margin-bottom: 5vh;
}

.textContainerLeft p {
  margin-bottom: 0vh;
}

@media only screen and (min-width: 2000px) {
  .imgPanel {
    max-height: 42vh;
  }
}

@media only screen and (max-width: 1300px) {
  .textContainer h3,
  .textContainerLeft h3 {
    font-size: 25px;
  }
  .textContainer p,
  .textContainerLeft p {
    font-size: 20px;
  }

  .imgPanel {
    width: 35%;
  }

  .imgPanelLeft {
    width: 50%;
    height: unset;
    min-height: 25vh;
  }

  .textContainer {
    width: 65%;
  }

  .textContainerLeft {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 2vh;
    margin-bottom: 0;
  }

  .contentContainerLeft,
  .contentContainer {
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .contentContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-self: center;
  }

  .imgPanel {
    width: 70%;
    height: 35vh;
  }

  .imgPanelLeft {
    width: 90%;
    height: 25vh;
  }

  .textContainer,
  .textContainerLeft {
    width: 85%;
    padding: 2vh 0 3vh;
    margin-left: auto;
  }
}
