.ourNumbersSection {
  padding: 50px 0;
}

.ourNumbersContainer {
  position: relative;
}

.ourNumbersTitle {
  font-size: clamp(60px, 10vw, 120px);
  text-align: center;
  color: #363233;
  margin-bottom: 50px;
  font-weight: 700;
}

.wrapperOurNumbers {
  width: 100%;
  color: #363233;
  flex-wrap: wrap;
  gap: 2%;
}

.itemNumber {
  width: 35%;
  margin-bottom: 20px;
  text-align: center;
}

.textBeforeNumber {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  color: #363233;
  font-size: 20px;
}

.bigNumber {
  font-size: clamp(50px, 8vw, 100px);
  margin-bottom: 30px;
  font-weight: 700;
}

.typeNumber {
  font-weight: 700;
}

.infoNumber {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  color: #363233;
  max-width: 450px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .itemNumber {
    width: 48%;
  }

  .bigNumber {
    margin-bottom: 15px;
  }

  .infoNumber {
    font-size: 16px;
  }
}

@media only screen and (max-width: 520px) {
  .ourNumbersSection {
    padding: 25px 0;
  }
  .itemNumber {
    width: 100%;
  }

  .bigNumber {
    margin-bottom: 15px;
  }

  .infoNumber {
    font-size: 16px;
  }
}
