.masonrySection {
  padding-bottom: 50px;
}

.masonryContainer {
  /* display: grid; */
  grid-auto-rows: 30vh;
  gap: 2.5vh;
}

.innerImgMasonry {
  position: relative;
  margin: 1.5%;
  overflow: hidden;
}

.innerImgMasonry.square {
  aspect-ratio: 1/1;
  width: 30%;
}

.innerImgMasonry.tall {
  aspect-ratio: 1/2.1;
  width: 30%;
}

.innerImgMasonry.wide {
  aspect-ratio: 2.1/1;
  width: 63%;
}
/* .innerImgMasonry.ultraWide{
  aspect-ratio: 2/1;
  width: 100%;
}
.innerImgMasonry.ultraTall{
  aspect-ratio: 1/3;
  width: 30vw;
} */

.innerImgMasonry.ourWorkLayout:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 55%,
    rgba(0, 0, 0, 0.895) 100%
  );
  z-index: 1;
}

.contentImgGrid {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 0 0 30px;
  z-index: 2;
  width: 100%;
}

.titleGridImg {
  font-weight: 700;
  font-size: 30px;
  color: #f2f0eb;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 20px;
  line-height: 0.9;
  margin-bottom: 7px;
}

.linkDetailWork {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.line {
  /* top: 50%;
  left: 100%; */
  width: 100%;
  height: 5px;
  position: relative;
}

.ball {
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -10px;
  border-radius: 50%;
}

.subTitleGridImg {
  font-weight: 400;
  font-size: 18px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  padding-right: 30px;
}

.imgMasonry {
  object-fit: cover;
  object-position: center center;  
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.innerImgMasonry:hover .imgMasonry{
  transform: scale(1.2);
}

@media only screen and (min-width: 1920px) {
  .titleGridImg {
    font-size: 32px;
  }

  .subTitleGridImg {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1450px) {
  .titleGridImg{
    font-size: 22px;
  }

  .contentImgGrid {
    bottom: 20px;
    padding: 0 0 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .innerImgMasonry {
    width: 48% !important;
    aspect-ratio: 1/1;
    margin: 1%;
  }
  .innerImgMasonry.square {
    aspect-ratio: 1/1;
  }

  .innerImgMasonry.tall {
    aspect-ratio: 1/1;
  }
  .innerImgMasonry.ultraWide {
    aspect-ratio: 1/1;
    width: 48%;
  }

  .innerImgMasonry.wide {
    aspect-ratio: 1/1;
  }
  .innerImgMasonry.ultraTall {
    aspect-ratio: 1/1;
  }
}
@media only screen and (max-width: 768px) {
  .masonryContainer {
    display: block;
  }

  .innerImgMasonry {
    width: 100% !important;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
  }

  .contentImgGrid {
    padding-left: 20px;
  }

  .titleGridImg {
    font-size: 30px;
  }

  .subTitleGridImg {
    font-size: 18px;
  }
}

@media only screen and (max-width: 520px) {
  .titleGridImg {
    font-size: 25px;
  }

  .contentImgGrid {
    bottom: 15px;
  }
}
