.containerTitleLine {
  /* width: 100%; */
  position: relative;
  padding-bottom: 50vh;
  margin-bottom: 15vh;
}

.titleLine {
  position: relative;
  font-weight: 700;
  font-size: 130px;
  line-height: 141px;
  color: #363233;
}

.lineTitle {
  position: absolute;
  top: 110%;
  width: 5px;
  height: 48vh;
}

.ballLine {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}


@media only screen and (max-width: 1300px){
  .titleLine{
    font-size: clamp(40px, 11vw, 130px);
    line-height: 1.1;
  }
}
@media only screen and (max-width: 768px){
  .lineTitle{
    height: 30vh;
  }
  .containerTitleLine{
    padding-bottom: 30vh;
  }
}