.heroText {
  padding: 150px 0 100px;
}
.heroTextContainer {
  text-align: center;
}

.titleHeroText {
  font-size: 215px;
  color: #363233;
}
.titleHeroText *{
  font-weight: 700;
}

.subtitleHeroText {
  font-weight: 700;
  font-size: clamp(30px, 4.5vw, 50px);
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  .heroText {
    padding: 100px 0 50px;
  }

  .titleHeroText {
    font-size: 150px;
  }
}
@media only screen and (max-width: 768px) {
  

  .titleHeroText {
    font-size: 120px;
  }
}
