.siteHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 30px 0;
}

.siteLogo {
  width: 100px;
  height: 75px;
  background-image: url(/icons/logo-dark.png);
  cursor: pointer;
  position: relative;
}

.activeMenu .siteLogo {
  background-image: url(/icons/logo-white.png);
}

.siteLogo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.burger {
  width: 40px;
  height: 40px;
  background-image: url(/icons/menu-dark.png);
  cursor: pointer;
}

.activeMenu .burger {
  background-image: url(/icons/close-white.png);
}

@media only screen and (max-width: 520px) {
  .siteLogo {
    width: 75px;
    height: 45px;
  }

  .burger {
    width: 30px;
    height: 30px;
  }
}
