.siteHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  padding: 30px 0;
  background-color: #ffffff00;
  transition: all 0.5s ease-in-out;
}

.siteHeader.lightHeader:not(.activeMenu) {
  background-color: #ffffff;
  backdrop-filter: blur(0px);
  padding: 5px 0;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.siteLogo {
  width: 100px;
  height: 75px;
  background-image: url(/icons/logo-dark.png);
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.hideLogo.siteLogo {
  opacity: 0;
  pointer-events: none;
}

.siteHeader.lightHeader .siteLogo {
  opacity: 1;
  pointer-events: all;
}

.lightHeader.siteHeader:not(.activeMenu) .siteLogo {
  width: 80px;
  height: 65px;
}

.activeMenu .siteLogo {
  background-image: url(/icons/logo-white.png);
}

.whiteIcons .siteLogo {
  background-image: url(/icons/logo-white.png);
}

.lightHeader.siteHeader:not(.activeMenu).whiteIcons .siteLogo {
  background-image: url(/icons/logo-dark.png);
}

.siteLogo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.burger {
  width: 40px;
  height: 40px;
  /* background-image: url(/icons/menu-dark.png); */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.whiteIcons .burger {
  width: 40px;
  height: 40px;
  /* background-image: url(/icons/menu-white.png); */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.lightHeader.siteHeader:not(.activeMenu) .burger {
  width: 35px;
  height: 35px;
}
.lightHeader.siteHeader:not(.activeMenu).whiteIcons .burger {
  width: 35px;
  height: 35px;
  /* background-image: url(/icons/menu-dark.png); */
}

.activeMenu .burger {
  /* background-image: url(/icons/close-white.png); */
}

.btnBurger {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.btnBurger span {
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 4px;
  background: #363233;
  transition: all 0.3s;
  position: relative;
}

.btnBurger span:nth-of-type(2) {
  margin: 10px 0;
}

.lightHeader .btnBurger span:nth-of-type(2) {
  margin: 7px 0;
}
.lightHeader.activeMenu .btnBurger span:nth-of-type(2) {
  margin: 10px 0;
}

.active span {
  background-color: #fff;
}

.whiteIcons .btnBurger span {
  background-color: #fff;
}
.lightHeader.siteHeader:not(.activeMenu).whiteIcons .burger span {
  background-color: #363233;
}

.active span:nth-child(1) {
  animation: ease 0.7s top forwards;
}

.not-active span:nth-child(1) {
  animation: ease 0.7s top-2 forwards;
}

.active span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}

.not-active span:nth-child(2) {
  animation: ease 0.7s scaled-2 forwards;
}

.active span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}

.not-active span:nth-child(3) {
  animation: ease 0.7s bottom-2 forwards;
}

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 14.5px;
    transform: rotate(0);
  }
  100% {
    top: 14.5px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 22px;
    transform: rotate(45deg);
  }
  50% {
    top: 22px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 14.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 14.5px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 22px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 22px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 520px) {
  .siteLogo {
    width: 75px;
    height: 45px;
  }

  .burger {
    width: 30px;
    height: 30px;
  }
  .lightHeader.siteHeader:not(.activeMenu) .burger {
    width: 30px;
    height: 30px;
  }

  .active span:nth-child(1) {
    animation: ease 0.7s top-3 forwards;
  }
  .active span:nth-child(3) {
    animation: ease 0.7s bottom-3 forwards;
  }

  .btnBurger span:nth-of-type(2),
  .lightHeader.activeMenu .btnBurger span:nth-of-type(2) {
    margin: 5px 0;
  }
}

@keyframes top-3 {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 9.5px;
    transform: rotate(0);
  }
  100% {
    top: 9.5px;
    transform: rotate(45deg);
  }
}
@keyframes bottom-3 {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 9.5px;
    transform: rotate(135deg);
  }
}
