.siteHeader {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 30px 0;
  background-color: #ffffff00;
  transition: all 0.5s ease-in-out, background-color 0.5s ease-in-out 0.25s;
}

.siteHeader.lightHeader:not(.activeMenu) {
  background-color: #ffffff;
  backdrop-filter: blur(0px);
  padding: 5px 0;
  transition: all 0.5s ease-in-out, background-color 0.5s ease-in-out 0.25s;
}

.siteLogo {
  width: 100px;
  height: 75px;
  background-image: url(/icons/logo-dark.png);
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.lightHeader.siteHeader:not(.activeMenu) .siteLogo {
  width: 80px;
  height: 65px;
}

.activeMenu .siteLogo {
  background-image: url(/icons/logo-white.png);
}

.whiteIcons .siteLogo {
  background-image: url(/icons/logo-white.png);
}

.lightHeader.siteHeader:not(.activeMenu).whiteIcons .siteLogo {
  background-image: url(/icons/logo-dark.png);
}

.siteLogo a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.burger {
  width: 40px;
  height: 40px;
  background-image: url(/icons/menu-dark.png);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.whiteIcons .burger {
  width: 40px;
  height: 40px;
  background-image: url(/icons/menu-white.png);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.lightHeader.siteHeader:not(.activeMenu) .burger {
  width: 35px;
  height: 35px;
}
.lightHeader.siteHeader:not(.activeMenu).whiteIcons .burger {
  width: 35px;
  height: 35px;
  background-image: url(/icons/menu-dark.png);
}

.activeMenu .burger {
  background-image: url(/icons/close-white.png);
}

@media only screen and (max-width: 520px) {
  .siteLogo {
    width: 75px;
    height: 45px;
  }

  .burger {
    width: 30px;
    height: 30px;
  }
}
