@font-face {
  font-family: 'ProximaNovaBold';
  src: url('https://use.typekit.net/qoq7ghf.css');
}

.afterHeroSection {
  width: 100%;
}

.afterHeroContainer {
  padding-top: 150px;
}

.afterHeroAbout .afterHeroContainer {
  padding-bottom: 7vh;
}

.titleAfterHero {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 0.9;
  width: 65%;
  color: #363233;
  margin-bottom: 10px;
}

.subTitleAfterHero {
  font-style: normal;
  font-size: 40px;
  line-height: 0.9;
  width: 65%;
  color: #363233;
  margin-bottom: 10px;
}

.textAfterHero {
  font-size: 20px;
  line-height: 1.3;
  color: #363233;
  max-width: 55%;
}

.textAfterHero a {
  text-align: center;
  margin: 20px auto 0;
  display: block;
  width: fit-content;
  padding: 25px 35px 20px;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.wrapperAfterHeroTeam .textAfterHero {
  max-width: 70%;
}

.alignRight.wrapperAfterHeroTeam .textAfterHero {
  margin-left: auto;
}

.videoContainer {
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
}

.videoContainerDetail {
}

.bigCircle {
  position: absolute;
  width: 200vh;
  height: 200vh;
  border: 1px solid #000;
  border-radius: 50%;
  top: 50%;
  left: -50%;
}

.playVideo {
  background-image: url(/icons/play.png);
  cursor: pointer;
  height: 100px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 100px;
}

.iframeVideo {
  width: 100%;
  height: 100%;
}

@media (width <= 1600px) {
  .textAfterHero {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1300px) {
  .textAfterHero {
    font-size: 20px;
  }

  .titleAfterHero {
    font-size: 4.5vw;
    line-height: 1;
  }

  /* .afterHeroContainer {
    padding-top: 20vh;
  } */
}

@media only screen and (max-width: 768px) {
  .textAfterHero {
    max-width: 80%;
  }

  .videoContainer {
    width: 100%;
  }
  .titleAfterHero {
    font-size: 7vw;
    width: 100%;
  }
  .noPaddingMobile {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
}
@media only screen and (max-width: 520px) {
  .afterHeroSection{
    padding-bottom: 25px;
  }
  .afterHeroContainer {
    padding-top: 120px;
  }
  .textAfterHero {
    max-width: 90%;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .wrapperAfterHeroTeam .textAfterHero {
    max-width: 100%;
    font-size: 18px;
  }
  /* .afterHeroContainer {
    padding-bottom: 5vh;
  } */
}

.noPadding {
  padding-top: 50px;
}
