.clientsSection {
  /* padding: 40vh 0 ; */
  margin-top: 100px;
  text-align: center;
}

.clientsContainer {
  position: relative;
}

.clientsTitle {
  font-weight: 700;
  font-size: 120px;
  color: #363233;
}

.subtitleClients {
  color: #00b099;
  font-weight: 700;
  font-size: 50px;
}

.infoClients,
.infoCollaborators {
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: #363233;
}

.infoClients {
  width: 70%;
}

.infoClients {
  margin: 20px auto;
}

.collaboratorsContainer {
  width: 100%;
  gap: 1%;
  display: flex;
  position: relative;
  left: 100%;
  justify-content: center;
  align-items: center;
  animation: translateMembers 50s infinite linear 0s forwards;
}

.collaboratorsContainer:last-of-type {
  position: absolute;
  top: 0;
  left: 100%;
  animation: translateMembersB 50s infinite linear 10s forwards;
}

.collaboratorBox {
  /* max-width: 250px; */
  width: 10.1111111%;
  aspect-ratio: 1/1;
}

.wrapperCollaborators {
  position: relative;
  margin: 50px 0;
}

@keyframes translateMembers {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes translateMembersB {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

@media (width <= 1600px) {
  .infoClients {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1300px) {
  /* .clientsTitle {
    font-size: 24vw;
  } */
  .infoClients {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .infoClients {
    width: 80%;
  }
  .clientsTitle{
    font-size: 80px;
  }
}

@media only screen and (max-width: 520px) {
  /* .clientsSection {
    padding-top: 35vh;
  } */
  .clientsTitle{
    font-size: 50px;
  }
  .subtitleClients {
    font-size: 30px;
    margin-top: 10px;
  }

  .infoClients {
    width: 100%;
    font-size: 20px;
    line-height: 1.3;
    margin: 30px 0;
  }

  .infoCollaborators {
    width: 100%;
  }
}
