.sliderSection {
  position: relative;
  padding: 50px 0;
}

.sliderContainer {
  position: relative;
}

.onlyImageSliderSec .sliderContainer {
  overflow: hidden;
}

.titleSlider {
  font-weight: 700;
  font-size: clamp(50px, 9vw, 120px);
  text-align: center;
  line-height: 1;
  margin-bottom: 50px;
  color: #363233;
}

.textSlider {
  font-weight: 700;
  font-size: clamp(50px, 1vw, 150px);
  text-align: center;
  color: #00b099;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 520px){
  .sliderSection {
    padding: 25px 0;
  }
}