.sliderSection {
  position: relative;
  padding: 50px 0 50px;
}

.sliderContainer {
  position: relative;
}

.onlyImageSliderSec .sliderContainer{
  overflow: hidden;
}

.titleSlider {
  font-weight: 700;
  font-size: clamp(50px, 9vw, 120px);
  text-align: center;
  line-height: 1;
  margin-bottom: 15px;
  color: #363233;
  margin-bottom: 5vh;
}

.textSlider {
  font-weight: 700;
  font-size: clamp(50px, 1vw, 150px);
  text-align: center;
  color: #00b099;
  margin-bottom: 5vh;
}


